.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.header {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px; }

.paragraph {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 15px; }

.sub-header-1 {
  font-family: 'Josefin Sans';
  font-size: 20px; }

.white {
  color: white; }

.navy {
  color: #0E212B; }

label {
  margin-bottom: 0;
}
.form-group {
  margin-bottom: 1.5rem;
}
.guest-row {
  margin-bottom:1.5rem;
}

.rsvp-buttons {
  padding-top: 1rem;
}
.radio-inline {
  padding-right: 1rem;
}
/* .form-row {
  padding-bottom: .5rem;
} */
.form-check-inline+.form-check-inline {
  margin-left: 0;
}

@media (max-width: 768px){ 
  .radio-inline{
  display: block; 
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.content {
  max-width: 970px; }

.banner {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-top: -10px;
  min-height: 100%; }

.text-center {
  text-align: center; 
}

.row {
  margin-right: -15px;
  margin-left: -15px; }

#about, #rsvp {
  background-color: #F9F7F3;
  min-height: 100%; }

#accommodations {
  background-color: #F79C88;
  min-height: 100%; 
  padding-bottom: 25px;}

#party {
  background-color: #0E212B;
}

.ml-auto > a {
  font-family: 'Merriweather';
  font-size: 12px;
  color: white !important;
}
.ml-auto > a:link {
  font-family: 'Merriweather';
  font-size: 12px;
  color: white !important;
}

.ml-auto > a:visited {
  font-family: 'Merriweather';
  font-size: 12px;
  color: white !important;
}

.ml-auto > a:active {
  color: #C9974D !important;
}
.ml-auto > a:hover {
  color: #C9974D !important;
}

.gold {
  color: #C9974D; }

.navbar-brand {
  font-family: 'Josefin Sans';
  font-size: 15px;
  color: #C9974D !important; }

[hidden][style="display: block;"] {
  display: block !important; }

.reserve-link-style {
  text-decoration: none;
  font-family: 'Merriweather';
  font-weight: 400;
  color: #0E212B;
  font-size: 1rem;
  letter-spacing: 0.175rem;
  border: 3px solid #0E212B;
  padding: 5px;
   }
  
.reserve-link-style:hover {
  color: #0E212B;
  text-decoration: none;
  background-color: #F9F7F3;
}